<!DOCTYPE html>
<html>
  <head>
    <title>Cazier Auto | GovITHub</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel="icon" type="image/png" href="images/logo.png">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-default">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">CazierAuto</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav ">
            <li><%= link_to 'Acasă', root_path %></li>
            <li><%= link_to 'Despre', about_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contul Meu <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Profil</a></li>
                  <li><a href="#">Setări</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Istoric căutări</a></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
                </ul>
              </li>
            <% else %>
              <li>
                <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
              </li>
              <li>
                <%= link_to "Înregistrare", new_user_registration_path, :class => 'navbar-link' %>
              </li>
            <% end %>
          </ul>
        </div>

      </nav>
    </div>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>

    <footer class="footer-cazier">
      <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
          <p>GovITHub © Copyright 2016. Toate drepturile rezervate.</p>
        </div>
      </div>
    </footer>

  </body>
</html>
